.nav {
    border: solid black 1px;
    border-radius: 5px;
    width: fit-content;
    /* margin: 0 auto; */
    padding: 2px 20px;
    background-color: rgb(240, 230, 140);
}

.navElements {
    font-weight: bolder;
    margin: 0 20px;
    text-decoration: none;
}

.selected {
    color: grey;
    text-decoration: underline;
    
}

/* .activeStyle {
    color: greenyellow;
} */
