.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(245, 245, 245, 0.9);
    border-radius: 5px;
    border: solid black 1px;
    width: 90%;
    margin: 5px auto;
    padding: 0 10px;
    height: 100px;
}