.pageChange {
    background: khaki;
    width: 20%;
    margin: 0 auto;
    border: solid black 1px;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
}

span {
    margin: 0 3px;
    font-weight: bold;
}