.landing-title {
    color: chocolate;
    font-size: xx-large;
    border: chocolate solid 1px;
    border-radius: 5px;
    background: cornflowerblue;
    margin: 10px;
}

.landing {
    background: khaki;
    width: 10%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
}

.logginButton {
    font-size: large;
}