.temperaments {
    margin: 5px;
    border-radius: 5px;
    /* background-color: rgba(240, 230, 140, 1); */
    height: 80px;
}

.isDetail {
    height: max-content;
    margin: 15px;
    font-size: larger;
}

.sub-title {
    font-weight: bold;
}

