.form {
    width: 90%;
    border: black solid 1px;
    border-radius: 5px;
    margin: 0 auto;
    height: 80%;
    padding-bottom: 15px;
}

.requiredMessage {
    font-size: small;
    margin-bottom: 5px;
}